
# === Entorno Virtual ===
venv/
venv_new/
.env/
.env*/

# === Archivos temporales de Python ===
__pycache__/
*.py[cod]
*$py.class

# === Archivos de logs y temporales ===
*.log
*.tmp
*.bak
*.swp
*.swo

# === Archivos del sistema ===
.DS_Store
Thumbs.db

# ===
